<%- include("templates/header") %> 
<% if (session.authenticated) { %>
  <div class="container">
  <h3>Hey, <%= session.name %>. Enjoy the corgis!<h3>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src='/1.jpg'>
      </div>
      <div class="col">
        <img src='/2.jpg'>
      </div>
      <div class="col">
        <img src='/3.jpg'>
      </div>
    </div>
  </div>
  
  <form action='/signout' method='get'><button>Sign Out</button><br></form>
</div>
<% } else {res.redirect('/')} %>
<%- include("templates/footer") %>