<%- include("templates/header") %> <% if (session.authenticated) { %>
<div class="container">
  <h2>Hello, <%= session.name %>!</h2>
  <form action="/members" method="get">
    <button>Go to Members Area</button>
  </form>
  <form action="/logout" method="get"><button>Log Out</button></form>
</div>
<% } else { %>
<div class="container">
  <form action="/signup" method="get"><button>Sign Up</button><br /></form>
  <form action="/login" method="get"><button>Log In</button></form>
</div>
<% } %> <%- include("templates/footer") %>
