<%- include("templates/header") %>
<h1>Members Page</h1>
<h2>Hey <%= username %>!</h2>
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img src='1.jpg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='2.jpg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='3.jpg' class="img-fluid"></div>
  </div>
<br />
<form action='/logout' method='post'>
    <button class="btn btn-secondary rounded-pill px-3">Log Out</button><br />
</form>
<%- include("templates/footer") %>
